* {box-sizing: border-box;}
.zrow {  width: 100%; height: 100%; margin: 0; padding: 0; display: flex; flex-direction: row; overflow: hidden; }
.zcol {  width: 100%; height: 100%; margin: 0; padding: 0; display: flex; flex-direction: column; overflow: hidden; }
.zcenter { display: flex; justify-content: center; align-items: center; }
.zlink { cursor: pointer; margin: 10px 10px 10px 10px;}
.znav {width: 150px; border-right: 1px solid #337ab7; }
